.header {
    &__prototype {
        padding-top: 34px;

    }

    background-image: url('../../img/bg_header.jpg');
    width: 100vw;
    height: 100vh;
    background-position: cetner center;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__tel {
            color: $primary;
            font-size: 32px;
        }
    }

    &__top__items {
        font-size: 14px;
        display: flex;
        flex-direction: row;

        &-img {
            margin-right: 8px;
            margin-top: 8px;
        }

        &-text {
            margin-top: 8px;
        }
    }

    &__top__input {
        border-radius: 30px;
        padding: 0 30px;
    }

    &__input {
        border-radius: 30px;
        width: 300px;
        height: 40px;
        background-color: $white;
        padding: 10px 15px;

        &:focus {
            background: $secondary;
        }
    }

    &__bot {
        display: flex;
        justify-content: space-between;
        max-width: 1320px;
        height: 115px;
        margin-top: 56px;

        &-contentbox {
            padding: 28px 27px;
            width: 1320px;
            height: 115px;
            background-color: $primary;
            display: flex;
            color: $white;

            &-descr {
                margin-left: 16px;

                h4 {
                    font-family: 'Fira Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFF9EF;
                }

                p {
                    margin-top: 4px;
                    font-family: 'Fira Sans';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 120%;
                }
            }
        }
    }

    &__call {
        &-offer {
            margin-top: 32px;
        }

        &-link {
            color: $colorBtn;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background-color: $secondaryRed;
            min-width: 212px;
            height: 44px;
            border-radius: 4px;
            padding: 13px 30px;
        }

        &-btn {
            background: transparent;
            color: $primary;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            min-width: 188px;
            height: 44px;
            border-radius: 4px;
            padding: 13px 30px;
            border: 1px solid $primary;
            margin-left: 24px;
        }
    }

    &__offer-subtitle {
        margin-top: 16px;
        width: 680px;
        height: 74px;
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
    }
}

.title__offer {
    max-width: 928px;
}

.menu__list {
    display: flex;
    align-items: center;

}

.menu__item {
    padding-bottom: 30px;
    margin-left: 30px;
    position: relative;
}

.menu__item:hover .submenu__item {
    display: block;
}

.submenu__item {
    display: none;
    width: 385px;
    background: $white;
    position: absolute;
    top: 30px;
}

.submenu__list {
    display: flex;
    flex-direction: column;

}

.menu__list a {
    display: inline-block;
    padding: 5px;
}

.sub-submenu__list {
    position: absolute;
    top: 0px;
    left: 100%;
}

.sub-submenu__item {
    display: none;
    width: 385px;
    background: $white;

}

.submenu__item:hover .sub-submenu__item {
    display: block;
}


// СЕКЦИЯ НАШИ УСЛУГИ

.services {
    margin-top: 100px;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        max-width: 861px;
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
    }

    &__content-watch {
        a {
            margin-right: 15px;
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 140%;
            text-align: right;
            text-decoration-line: underline;
            color: $secondaryRed;
        }

    }

    &__content-card {
        border: 1px solid #AE8452;
        border-radius: 4px;
        width: 646px;
    }
}

.content-card {
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {}

        p {
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 100%;
            color: $secondaryRed;
            margin-left: 46px;

        }
    }

    &__description {

        ul {
            margin-top: 26px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-decoration: underline;
            margin-bottom: 62px;
        }
    }
    &__more{
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 26px;
        p{

font-family: Fira Sans;
font-size: 20px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;
margin-right: 14px;
        }
    }
}