.error{
    margin-top: 400px;
    margin-bottom: 200px;
    &__title{
        font-size: 72px;
    }
    &__subtitle{
        font-size: $fs42;
        margin: 20px 0;
    }
    a{
        
    color: $secondaryRed;
    text-decoration: underline;
}

}
