.header__about-page{
    margin-top: $marginTitle;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    .about__right-border{
        top: 4%;
    }
    .title{
        font-size: 58px;
    }
    .about__citate__text{
        font-family: 'Fira Sans';
        font-style: italic;
        font-weight: 300;
        font-size: 31px;
        line-height: 140%;
        margin-top: 30px;
    }
    .about__subtitle{
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
        margin-top: 10px;
    }
    .about__wrapper-tablet{
        display: none;
    }
}
.direction{
    margin-top: 165px;
    .title{
        font-size: 58px;
        line-height: 67px;
    }
    .subtitle{
            font-size: 20px;
            line-height: 140%;
    }
    &__content{
        max-width: 309px;
        max-height: 309px;
        border: 1px solid $gold;
        border-radius: 4px;
        padding: 22px 20px;
    }
    &__contentbox{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 28px;
        &__img{
            width: 80px;
            height: 80px;
        }
       &__title{
        font-size: $fs20;
        font-weight: 500;
        color: $secondaryRed;
        margin-top: 42px;
    }
    &__subtitle{
        font-size: $fs16;
        line-height: 140%;
    } 
    }
    
}
.clinic-history{
    
        margin-top: 165px;
        &__wrapper{
            margin-top: 65px;
            display: flex;
            justify-content: center;
        }
        &__cyrcles{
            width: 40px;
            height: 40px;
            background-color: $secondaryRed;
            border-radius: 50%;
        }
        &__line{
            width: 3px;
            height: 200px;
            background-color: $secondaryRed;
            margin-left: 18px;
        }
    &__contentbox{
        max-width: 725px;
        margin-left: 40px;
    }
    &__content:not(:first-child){
        margin-top: 60px;
    }
    &__date{
        font-family: 'Oranienbaum';
        font-style: normal;
        font-size: $fs36;
        color: $secondaryRed;
        padding-top: 5px;
    }
    &__text{
        margin-top: 8px;
        font-size: $fs20;
        line-height: 140%;
    }
}
.brochure__about-page{
    margin-top: 140px;
}
.contacts__btn{
    padding: 0 18px
}
.contacts{
    margin-top: $marginTop;
}
.contacts__license{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    &__container{
        border: 1px solid $gold;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 110px;
        padding: 10px 20px;
        margin-right: 28px;
    }
    &__img{
    
    }
    &__text{
        
        margin: 0 30px;
        font-family: 'Oranienbaum';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 100%;
    }
    &__btn{
    padding: 0px 18px;
    width: 220px;
    height: 40px;
    background: $secondaryRed;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $bg;
    margin-left: 30px;
    background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;
            transition: background-size 0.5s;
          
            &:hover {
              background-size: 100% 100%;
              background-position-x: left;
              background-image: linear-gradient($btnHover, $btnHover);
            }
    }
}

@media (max-width: 640px) {
    
    //
    //
    //HEADER
    //
    //
    .header__about-page{
       
        margin-top: $marginTitleTablet;
        &__title{
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 55px;
        }
        &__wrapper{
          
            max-width: 580px;
            flex-direction: column;
            .about__left{
                width: 100%;
                .title{
                    font-size: $fs36;
                    line-height: 140%;
                }
               
            }
            .about__right{
                order: -1;
                display: none;
                &__img{
                    order: -1;
                }
            }
            .about{
                &__subtitle{
                        font-size: 16px;
                        line-height: 140%;
                    }
                    &__citate__text{
                        font-size: 18px;
                        line-height: 140%;
                        margin-top: 10px;
                    }
                &__table{
                    &__span{
                        font-size: 70px;
                    }
                    &__td-secondary{
                        font-size: 26px;
                    }
                    &__td{
                        font-size: 16px;
                        line-height: 130%;
                    }
                }
                
            }
            
        }
        .about__wrapper-tablet{
            margin-top: 0;
            display: flex;
            .about{
                &__subtitle{
                        font-size: 16px;
                        line-height: 140%;
                    }
                    &__citate__text{
                        font-size: 18px;
                        line-height: 140%;
                        margin-top: 10px;
                    }
                &__table{
                    &__span{
                        font-size: 70px;
                    }
                    &__td-secondary{
                        font-size: 26px;
                    }
                    &__td{
                        font-size: 16px;
                        line-height: 130%;
                    }
                }
                
            }

        }
    }
     //
    //
    //DIREECTION
    //
    //
    .direction{
       .title{
        font-size: $fs36;
        line-height: 140%;
       }
       .subtitle{
        padding-left: 0;
        font-size: 16px;
        line-height: 140%;
       }
        margin-top: 120px;
        &__contentbox{
            grid-template-columns: repeat(2,1fr);
            &__img{
                width: 70px;
                height: 70px;
            }
            &__title{
                margin-top: 14px;
                font-weight: 600;
                font-size: $fs20;
            }
            
        }
        &__content{
            padding: 14px 20px 15px;
        }
    }
     //
    //
    //CLINIC
    //
    //
    .clinic{
        padding: 0 5px;
        .specialist__subtitle{
            width: 100%;
        }
        
        &-history{
            margin-top: 140px;
            &__date{
                font-size: 30px;
            }
            &__text{
                font-size: $fs16;
            }
            &__line{
                height: 145px;
            }
            .clinic-history__content:not(:first-child) {
                margin-top: 32px;
                }
        }
        .clinic__right-img{
            max-width: 588px;
        }
    }
//
       //
    //brochure clinic page
    //
    //
    //
    .brochure__about-page{
        padding: 0 5px;
    }
     //
    //
    //specialis
    //
    //
    .specialist{
        padding: 0 5px;
    }
     //
    //
    //CONTACT
    //
    //
    .contacts{
        margin-top: 100px;
        &__license{
            flex-direction: column;
            &__text{
                font-size: $fs36;
            }
            &__img{
                width: 50px;
                height: 50px;
                margin-left: 0;
            }
            &__container{
                margin-top: 20px;
            }
            &__btn{
                margin-right: 0;
            }
        }
    }
    
     //
    //
    //
    //
    //

    
    
}

@media (max-width: 320px) {
    .header__about-page{
        margin-top: $marginTitlePhone;
        .about__right-border {
            width: 87%;
            height: 323px;
            top: 40.5%;
        }
        .about__left-tablet .about__img-phone__img {
            
            height: 100%;
        }
       .about__wrapper-tablet .about__subtitle {
            font-size: 14px;
            line-height: 140%;
        }
    }
    //
    //
    //direction
    //
    //
    .direction{
        margin-top: $phoneMargin;
        &__content{
            max-width: 146px;
            padding: 9px 3px 7px;
        }
        &__contentbox{
            gap: 8px;
            &__title{
                font-size: $fs16;
                margin: 10px 0;
            }
         &__subtitle{
            font-size: $fs14;
            line-height: 140%;
         }
        }
    }
    //
    //
    //clinic
    //
    //
    .brochure__about-page{
        margin-top: $phoneMargin;
       .questions__brochure-btn{
        width: 96%;
       }
    }
    .clinic{
        margin-top: 100px;
        .undertitle{
            margin-top: 20px;
            font-size: $fs10;
        }
        &-history{
            margin-top: 100px;
            &__text{
                line-height: 140%;
            }
            &__line{
                height: 305px;
            }
        }
        .clinic__right-swiper .swiper-slide img {
            width: 100%;
            height: 100%;
        }
    }
     //
    //
    //contacts
    //
    //
    .contacts{
        margin-top: 80px;
        &__license{
            &__container{
                flex-direction: column;
                align-items: center;
                padding: 5px 5px;
                max-height: 140px;
                margin-top: 10px;
            }
            &__img{
                margin-left: 0;
                width: 50px;
                height: 50px;
            }
            &__text{
                font-size: $fs24;
            }
            &__btn{
                margin-right: 0;
            }
        }
    }
}