.header__about-page{
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
}
.direction{
    margin-top: 165px;
    &__content{
        max-width: 309px;
        max-height: 309px;
        border: 1px solid $gold;
        border-radius: 4px;
        padding: 20px 30px 40px;
    }
    &__contentbox{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 28px;
        &__img{
            width: 80px;
            height: 80px;
        }
       &__title{
        font-size: $fs20;
        font-weight: 500;
        color: $secondaryRed;
        margin-top: 40px;
    }
    &__subtitle{
        font-size: $fs16;
    } 
    }
    
}
.clinic-history{
    
        margin-top: 165px;
        &__wrapper{
            margin-top: 65px;
            display: flex;
            justify-content: center;
        }
        &__cyrcles{
            width: 40px;
            height: 40px;
            background-color: $secondaryRed;
            border-radius: 50%;
        }
        &__line{
            width: 3px;
            height: 172px;
            background-color: $secondaryRed;
            margin-left: 18px;
        }
    &__contentbox{
        max-width: 725px;
        margin-left: 40px;
    }
    &__content:not(:first-child){
        margin-top: 60px;
    }
    &__date{
        font-size: $fs36;
        color: $secondaryRed;
        padding-top: 5px;
    }
    &__text{
        margin-top: 8px;
        font-size: $fs20;
    }
}
.contacts__btn{
    padding: 0 18px
}

.contacts__license{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    &__container{
        border: 1px solid $gold;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 110px;
        padding: 10px 20px;
    }
    &__img{
    margin-left: 28px;
    }
    &__text{
        font-size: $fs42;
        margin: 0 40px;
    }
    &__btn{
    padding: 0px 18px;
    width: 220px;
    height: 40px;
    background: $secondaryRed;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $bg;
    margin-right: 28px;
    }
}