.analysis-page__header{
    margin-top: $marginTitle;
    .analysis-page__header__bot{
        margin-top: 90px;
    }
    
    
}
.analysis-page__section {
    .header__procedures {
        margin-top: 77px;

        &__contentbox {
            margin-top: 27px;
        }

        &__text {
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 22px;
            line-height: 140%;
        }

        &__price {
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            text-align: right;
            color: #972A29;
        }
    }

    .questions__brochure {
        margin-top: $marginTop;
    }
}

.analysis-page__questions__brochure-steps{
    justify-content: space-around;
}

@media (max-width: 640px){
    .analysis-page__header{
        margin-top: $marginTitleTablet;
        padding: 0 5px;
        .title{
            
        }
        .subtitle{
            font-size: 16px;
        line-height: 140%;
        width: 100%;
        }
        &__bot{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            .header__bot-contentbox-page2{
                margin: 0;
                max-height: 116px;
                &:nth(3){
                grid-column: span 2;
                width: 400px;

            }
            }
        }
        .analysis-page__header__bot{
            margin-top: 60px;
        }
        .header__bot-contentbox-page2{
            
            padding: 10px 10px;
            height: 90px;
            img{
                width: 60px;
                height: 60px;
            }
        }
    }
    .analysis-page__section{
        margin-top: 0px;
        .header__procedures{
            margin-top: 0;
            &__contentbox{
                margin-top: 20px;
              padding: 20px 20px;  
              .btn__header-page2{
                width: 182px;
                        height: 38px;
                        padding: 4px 18px;
                        font-size: $fs10;
                        &:hover{
                            background-color: $btnHover;
                            transition: all .4s ease-in;
                        }
              }
            }
            &__text{
                font-size: $fs18;
            }
            &__price{
                font-size: $fs18;
                margin-right: 46px;
            }
            
        }
    }
    
    .header__procedures{
        margin-top: 0;
        &__contentbox{
          padding: 20px 20px;  
          .btn__header-page2{
            width: 182px;
                    height: 38px;
                    padding: 4px 18px;
                    font-size: $fs10;
                    &:hover{
                        background-color: $btnHover;
                        transition: all .4s ease-in;
                    }
          }
        }
        &__text{
            font-size: $fs18;
        }
        &__price{
            font-size: $fs18;
            margin-right: 46px;
        }
        
    }
    
}

@media (max-width: 320px) {
    .analysis-page__header{
        margin-top: $phoneMargin;
        &__bot{
            grid-template-columns: repeat(1,1fr);
        }
        .subtitle{
            font-size: $fs16;
        }
        .header__call-offer{
            margin-top: 50px;
        }
        
    }
    .header__procedures{
        margin-top: 300px;
        &__contentbox{
            height: 100%;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            text-align: center;
            div{
                flex-direction: column;
                justify-content: space-between;
            }
        }
        &__price{
            margin-right: 4px;
        }
        
    }
}