.our-services-page7{
    margin-top: $marginTitle;
    .title{
        text-transform: uppercase;
    }
    
}
.articles{
    &__bot{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}

@media (max-width: 640px){
    
    .our-services-page7{
        
        margin-top: $marginTitleTablet;
        .title{
            font-size: $fs36;
        line-height: 140%;
        }
        .subtitle{
        font-size: 16px;
        line-height: 140%;
        width: 100%;
        }
    }
    .questions{
        padding: 0px 5px;
        font-size: $fs16;
        .subtitle{
            font-size: $fs16;
        }
        &__right{
            display: none;
        }

    }
    .articles{
        padding: 0px 5px;
        &__btn{
            margin: 15px 28% 0px;
        }
        &__bot{
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
           
        }
        &__card{
            margin-top: 10px;
            height: 360px;
            &__text{
                padding: 10px;
            }
        }
    }
   
}

@media (max-width: 320px){
    .our-services-page7 {
        margin-top: $marginTitlePhone;
        & .title{
            font-size: $fs30;
            line-height: 140%;
        }
        .subtitle{
            font-size: $fs14;
            line-height: 140%;
        }
    }
    //
    //
    //qusetions
    //
    //
    .questions{
        .questions__brochure-btn{
            width: 96%;
        }
        
        .questions__brochure-text{
            font-size: 18px;
            line-height: 140%;
            font-weight: 700;
        }

        .questions__brochure-subtext{
            line-height: 140%;
        }
    }
     //
    //
    //articles
    //
    //

    .articles{
        &__bot{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .record{
        .record__btn{
            width: 100%;
        }
    }
}