.our-services-page7{
    margin-top: $marginTitle;
}
.articles{
    &__bot{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}

@media (max-width: 640px){
    .our-services-page7{
        margin-top: $tabletMargin;
    }
    .questions{
        font-size: $fs16;
        &__right{
            display: none;
        }
    }
    .articles{
        .btn{
            margin: 15px 28% 0px;
        }
    }
    .articles__bot{
        
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
}

@media (max-width: 320px){
    .our-services-page7 {
        margin-top: 100px;
    
    }
}