.contacts-page{
    margin-top: $marginTitle;
}

@media (max-width: 640px) {
    .contacts-page{
        margin-top: $marginTitleTablet;
    }
}
@media (max-width: 320px) {
    .contacts-page{
        margin-top: 100px;
        &__license{
            &__img{
                width: 40px;
                height: 40px;
            }
            &__text{
                margin: 10px 0;
            }
        }
    }
    .about-doctor{
        &__contentbox{
            padding: 6px 14px;
        }
        &__question{
            img{
                width: 20px;
                height: 20px;
            }
        }
        &__title{
            font-size: $fs18;
            
        }
    }
    .contacts{
        margin-top: 80px;
        &__license{
            &__container{
                flex-direction: column;
                align-items: center;
                padding: 5px 5px;
                max-height: 140px;
                margin-top: 10px;
            }
            &__img{
                margin-left: 0;
                width: 50px;
                height: 50px;
            }
            &__text{
                font-size: $fs24;
            }
            &__btn{
                margin-right: 0;
                margin-left: 0px;
                width: 100%;
            }
        }
    }
}