.contacts-page{
    margin-top: $marginTitle;
}

@media (max-width: 640px) {
    .contacts-page{
        margin-top: $tabletMargin;
    }
}
@media (max-width: 320px) {
    .contacts-page{
        margin-top: 100px;
        &__license{
            &__img{
                width: 40px;
                height: 40px;
            }
            &__text{
                margin: 10px 0;
            }
        }
    }
    .about-doctor{
        &__contentbox{
            padding: 6px 14px;
        }
        &__question{
            img{
                width: 20px;
                height: 20px;
            }
        }
        &__title{
            font-size: $fs18;
            
        }
    }
}