.header {
    width: 1300px;
    position: absolute;
    top: 20px;
    left: 50px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__tel {
            color: $primary;
            font-size: 32px;
        }
        &-tablet__list{
            display: none;
        }
    }

    &__top__items {
        font-size: 14px;
        display: flex;
        flex-direction: row;

        &-img {
            margin-right: 8px;
            margin-top: 8px;
        }

        &-text {
            margin-top: 8px;
        }
    }

    &__top__input {
        border-radius: 30px;
        padding: 0 30px;
    }


    &__input {
        border-radius: 30px;
        width: 300px;
        height: 40px;
        background-color: $white;
        padding: 10px 15px;
        background: transparent;
        font-weight: 600;
        color: $primary;
        position: relative;
        &:focus {
            background: $secondary;
        }
        &:focus::placeholder{
            color: $bg;
        }
        &-search{
            position: absolute;
            top: 48px;
            right: 45px;
            fill: $bg;
        }
    }


    &__bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1320px;
        height: 115px;

        &-contentbox {
            padding: 28px 27px;
            width: 1320px;
            height: 115px;
            background-color: $primary;
            display: flex;
            color: $white;

            &-descr {
                margin-left: 16px;

                h4 {
                    font-family: 'Fira Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFF9EF;
                }

                p {
                    margin-top: 4px;
                    font-family: 'Fira Sans';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 120%;
                }
            }
        }
    }

    &__call {
        display: flex;

        &-offer {
            margin-top: 32px;
        }

        &-link {
            color: $colorBtn;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background-color: $secondaryRed;
            min-width: 212px;
            height: 44px;
            border-radius: 4px;
            padding: 13px 30px;
        }

        &-btn {
            background: transparent;
            color: $primary;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            min-width: 188px;
            height: 44px;
            border-radius: 4px;
            padding: 13px 30px;
            border: 1px solid $primary;
            margin-left: 24px;
        }
    }

    &__offer-subtitle {
        margin-top: 16px;
        width: 680px;
        height: 74px;
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
    }
}

.main-page__header {
    background-image: url('../../img/bg_header.jpg');
    width: 100vw;
    height: 100vh;
    background-position: cetner center;
    padding-top: 200px;
}
.header-main-page__bot{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__offer {
    max-width: 928px;
}



//
//
// СЕКЦИЯ НАШИ УСЛУГИ
//
//

.services {
    padding-top: 200px;

    &__top {
        
        justify-content: space-between;
    }

    &__subtitle {
        max-width: 861px;
        font-family: 'Fira Sans';
        font-size: $fs20;
        line-height: 140%;
    }

    &__content-watch {
        display: flex;
        align-items: center;
        a {
            margin-right: 15px;
            font-family: 'Fira Sans';
            font-size: $fs20;
            text-align: right;
            text-decoration-line: underline;
            color: $secondaryRed;
        }

    }

    &__content-card {
        border: 1px solid #AE8452;
        border-radius: 4px;
        width: 628px;
        margin-right: 25px;
        margin-top: 23px;
        display: flex;
        flex-direction: column;


    }

    &__contentbox-top {
        display: flex;
        justify-content: space-between;
    }

    &__contentbox-bot {
        display: flex;
        justify-content: space-between;
    }
}

.content-card {
    &__title {
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 26px;

        p {
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 100%;
            color: $secondaryRed;
            margin-left: 46px;

        }

        &-bot {
            width: 414px;
            text-align: center;
            flex-direction: column;

            p {
                margin-top: 16px;
            }
        }

    }

    &__description {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;

        ul {
            margin-top: 26px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            flex-wrap: wrap;
            padding-left: 38px;
            align-items: center;
            text-decoration: underline;
            margin-bottom: 62px;
            padding-bottom: 62px;
        }

        li {
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            text-decoration-line: underline;
            margin-top: 12px;
        }

        &-bot {
            text-align: center;

            ul {
                display: flex;
                flex-direction: column;

            }

        }
    }

    &__more {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 22px;
        margin-right: 40px;

        p {
            color: $secondaryRed;
            font-size: $fs20;
            line-height: 28px;
            letter-spacing: 0em;
            margin-right: 14px;
        }
    }
}


//
//
// ABOUT CLINIC
//
//

.about {
    .container {
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        margin-right: 43px;
        width: 700px;

        &-table {
            margin-top: 20px;
        }
    }

    &__citate {
        margin-bottom: 41px;

        &__text {
            font-family: 'Fira Sans';
            font-style: italic;
            font-weight: 300;
            font-size: 24px;
            line-height: 140%;
            color: $secondaryRed;
        }

        &__doctor {
            font-family: 'Fira Sans';
            font-size: 12px;
            line-height: 140%;
            text-align: right;

            &-name {
                font-family: 'Fira Sans';
                font-style: normal;
                font-weight: 400;
                font-size: $fs14;
                line-height: 140%;
                text-align: right;
            }
        }

    }

    &__subtitle {

        font-family: 'Fira Sans';
        font-size: $fs16;
        line-height: 140%;

    }

    &__right__img {
        margin-top: 25px;
    }

    &__table {
        color: $secondaryRed;
        text-align: center;

        &__span {
            display: block;
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 96px;
            line-height: 111px;

        }

        &__td-secondary {
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 32px;
            line-height: 37px;
        }

        &__td {
            font-family: 'Fira Sans';
            font-weight: 300;
            font-size: 20px;
            line-height: 140%;
        }
    }

}

//
//
//SPECIALIST
//
//

.specialist {
    margin-top: 154px;
    position: relative;

    &__subtitle {
        margin-top: 12px;
    }

    &__sliders {
        margin-top: 64px;
        display: flex;

        &-box {
            position: relative;
            display: flex;
            justify-content: end;
            flex-direction: column-reverse;
            margin-right: 24px;
            width: 309px;
            height: 395px;
            background-image: url('../../img/doctor.jpg');
            background-position: center 0;
            border: 1px solid $gold;
            border-radius: 4px;

            &::after {
                content: '';
                width: 100%;
                height: 57px;
                background-color: rgba(255, 255, 255, 0.7);
                position: absolute;
                bottom: 12%;
            }
        }

    }
}



.sliders-box__prof {
    position: absolute;
    bottom: 19%;
    right: 40%;
    font-family: 'Fira Sans';
    font-size: $fs8;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    align-self: end;
    order: 1;
    z-index: 1;
}

.sliders-box__doctor {
    position: absolute;
    bottom: 14%;
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    align-self: end;
    order: 0;
    z-index: 1;
    right: 40%;
}






//
//
//OFFERS
//
//

.offer {
    margin-top: $marginTop;

    &__bot {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 56px;

        &-hidden {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 22px;
            display: none;
        }
    }

    &__card {
        width: 309px;
        height: 395px;
        background-image: url('../../img/offer/offer3.jpg');
        background-size: cover;
        background-position: center center;

        &__stock {
            font-family: 'Fira Sans';
            display: inline-block;
            font-weight: 500;
            font-size: 10px;
            line-height: 120%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background: $secondaryRed;
            color: #FFF9EF;
            padding: 4px 16px;
            margin-left: 20px;
            margin-top: 20px;
            border-radius: 2px;
        }

        &__title {
            font-family: 'Fira Sans';
            font-weight: 700;
            font-size: $fs14;
            line-height: 17px;

        }

        &__subtitle {
            font-family: 'Fira Sans';
            font-weight: 300;
            font-size: 12px;
            line-height: 120%;
        }

        &__text {
            margin-left: $fs20;
            margin-top: 14.3em;
        }
    }

    &__btn {

        margin: 50px 44% 0px;
        padding: 0px 30px;
        width: 180px;
        height: 40px;
        background: $secondaryRed;
        border: none;
        border-radius: 4px;
        font-family: 'Fira Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $bg;

    }
}

//
//
//CLINIC
//
//

.clinic {
    margin-top: $marginTop;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__advantage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &-contentbox {
            display: flex;
            max-width: 276px;
            margin-top: 28px;
        }

        &-img {
            width: 32px;
            height: 32px;
        }

        &-text {
            font-family: 'Fira Sans';
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__right-pagination {
        margin-bottom: 20px;
    }

    &__right-swiper {
        position: relative;
        width: 630px;
        height: 420px;
        overflow: hidden;
    }
}

//
//
//REVIEWS
//
//


.reviews {
    margin-top: $marginTop;

    &__sliders__swiper {
        height: 237px;
    }

    &__sliders {
        display: flex;

        &-text {
            font-family: 'Fira Sans';
            font-size: $fs16;
            line-height: 120%;
        }

        &-from {
            font-family: 'Fira Sans';
            font-size: $fs14;
            line-height: 140%;
            text-align: right;
            text-decoration-line: underline;
        }
    }

    &__sliders-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 40px;
        gap: 16px;
        width: 528px;
        height: 237px;
        border: 1px solid #AE8452;
        border-radius: 4px;
    }

}

//
//
//ARTICLES
//
//
.articles {
    margin-top: $marginTop;
    font-family: 'Fira Sans';

    &__bot-visiable {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &____bot-hidden{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    &__card {
        margin-top: 61px;
        position: relative;
        max-width: 309px;
        height: 395px;

        &-img {
            width: 100%;
        }

        &__text {
            border-radius: 0px 0px 4px 4px;
            background-color: $primary;
            width: 100%;
            color: $bg;
            margin-top: -12px;
            padding: 16px 10px;

        }

        &__stock {
            font-weight: 500;
            font-size: $fs14;
            line-height: 120%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $primary;
            padding: 4px 12px;
            background: #FFFFFF;
            border: 1px solid #CECECE;
            border-radius: 2px;
            display: inline-block;
        }

        &__title {
            font-weight: 700;
            font-size: $fs16;
            line-height: 17px;
            margin-top: 8px;
        }

        &__subtitle {


            font-size: $fs14;
            line-height: 120%;
            margin-top: 20px;
        }
    }
}

//
//
//CONTACTS
//
//


.contacts {
    margin-top: $marginTop;
    font-family: 'Fira Sans';

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__bot {
        margin-top: 52px;
        display: flex;

        &__img {
            width: 660px;
            border-width: 1px 1px 1px 0px;
            border-style: solid;
            border-color: #AE8452;
            border-radius: 0px 4px 4px 0px;
        }

        &__info {
            width: 660px;
            border-width: 1px 0px 1px 1px;
            border-style: solid;
            border-color: #AE8452;
            border-radius: 4px 0px 0px 4px;
            padding-left: 52px;
            padding-top: 67px;

            &-adress {
                font-family: 'Oranienbaum';
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;

                a {

                    font-size: $fs16;
                    line-height: 140%;
                    text-decoration-line: underline;
                }
            }

            &-list {
                margin-top: 42px;

            }

            &-item {
                display: flex;
                margin-top: 16px;

                img {
                    width: 42px;
                    height: 42px;
                    margin-right: 19px;
                }
            }

            &-text {

                font-weight: 400;
                font-size: $fs20;
                line-height: 140%;
            }

            &-subtext {
                font-size: 16px;
                line-height: 140%;
            }
        }

    }

    &__btn {
        margin: 48px 0;
        padding: 0px 30px;
        width: 220px;
        height: 40px;
        background: $secondaryRed;
        border: none;
        border-radius: 4px;
        font-family: 'Fira Sans';
        font-weight: 400;
        font-size: $fs14;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $bg;
    }
}

//
//
//RECORD
//
//

.record {
    margin-top: $marginTop;

    &__bot {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &__subtitle {
        width: 518px;
        font-family: 'Fira Sans';
        font-size: $fs20;
        line-height: 140%;

    }

    &__btn {
        margin: 47px 0 0 0;
        height: 40px;
        padding: 0px 30px;
        width: 180px;
        height: 40px;
        background: $secondaryRed;
        border: none;
        border-radius: 4px;
        font-family: 'Fira Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $bg;

    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 646px;
    height: 260px;

    &__input {
        padding: 16px 18px;
        width: 100%;
        max-height: 60px;
        border: 1px solid $gold;
        border-radius: 4px;
        margin-bottom: 16px;
        background: transparent;

    }

    &__checkbox {
        margin-right: 16px;
    }
}


//
//
//FOOTER
//
//

.footer {
    margin-top: $marginTop;
    background-color: $bgFooter;
    font-family: 'Fira Sans';
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 26px;

        &-text {
            max-width: 729px;
            color: $bg;
            font-size: $fs20;
            line-height: 140%;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__input {
            padding: 16px 18px;
            width: 361px;
            height: 40px;
            border: 1px solid #FFF9EF;
            border-radius: 4px;
        }
    }

    &__btn {
        width: 157px;
        height: 40px;
        margin: 0 0 0 16px;
    }

    &__list {
        z-index: 10;
    }

    &__main {
        &-top {
            display: flex;
            justify-content: space-between;
            margin-top: 70px;

        }

        &-item {
            display: flex;
            color: $bg;
            font-size: $fs16;
            align-items: center;
            margin-top: 10px;

            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }

        &__contacts {
            z-index: 1;
        }

        &__text {
            font-weight: 400;
        }

        &__subtext {
            font-weight: 300;
            font-size: $fs14;
        }

        &-bot {
            margin-top: 70px;
            z-index: 1;

            &__list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $bg;

            }

            &__item {
                a {
                    font-size: $fs16;
                    line-height: 140%;
                    text-decoration-line: underline;
                }
            }
        }
    }

    &__item {
        margin-top: 8px;

        &__text {

            font-weight: 500;
            font-size: $fs22;
            line-height: 140%;
            color: $bg;
            margin-bottom: 20px;
        }

    }

    &__link {
        font-size: $fs16;
        line-height: 140%;
        text-decoration-line: underline;
        color: $bg;

    }

    &__alert {
        margin-top: 30px;
        font-family: 'Akzidenz-Grotesk Pro';
        font-weight: 500;
        font-size: 28px;
        line-height: 140%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $primary;
    }

    &::before {
        content: '';
        width: 100%;
        height: 360px;
        background-color: $primary;
        position: absolute;
        bottom: 20%;
        z-index: 0;
    }
}

.arrow__prev {
    transform: rotate(-180deg);

}

.specialist__arrow {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 100;
}





//
//
//MENU NAV
//
//
.menu__list {
    display: flex;
    align-items: center;

}

.menu__item {
    padding-bottom: 30px;
    margin-left: 30px;
    position: relative;
}

.menu__item:hover .submenu__item {
    display: block;
}

.submenu__item {
    display: none;
    width: 385px;
    background: $white;
    position: absolute;
    top: 30px;
}

.submenu__list {
    display: flex;
    flex-direction: column;

}

.menu__list a {
    display: inline-block;
    padding: 5px;
}

.sub-submenu__list {
    position: absolute;
    top: 0px;
    left: 100%;
}

.sub-submenu__item {
    display: none;
    width: 385px;
    background: $white;

}

.submenu__item:hover .sub-submenu__item {
    display: block;
}

//
//
// new menu
//
//
.header {
    &__menu {
        &__list {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            li {
                
                position: relative;
                &:not(:first-child){
                    margin-left: 30px;
                }
             }

            a {
                display: inline-block;
                padding: 10px 10px;

            }
        }

        &__item {}

        &__link {
            color: $primary;

            &:hover {
                color: $secondaryRed;
            }
        }

    }

    &__submenu {

        &__list {
            display: none;
            position: absolute;
            left: 0;
            top: 36px;
            min-width: 350px;
            padding-top: 6px;
            background-color: $primary;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            li{
                border-bottom: 1px solid $bg;
                width: 100%;
                &:hover{
                    background: $listHover;
                }
            }
        }

        &__link {
            color: $bg;
        }

    }

    &__sub-submenu {

        &__list {
            display: none;
            position: absolute;
            left: 100%;
            top: 0px;
            min-width: 250px;
            padding: 0 0 0 10px;
            background-color: $primary;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
        }

        &__link {
            color: $bg;
        }
    }

    &__sub-sub-submenu {

        &__list {
            display: none;
            position: absolute;
            left: 100%;
            top: 0px;
            min-width: 250px;
            padding: 0 0 0 10px;
            background-color: $primary;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
        }

        &__link {
            color: $bg;
        }
    }
}

.header__menu__list>li:hover .header__submenu__list {
    display: block;
}

.header__submenu__list>li:hover .header__sub-submenu__list {
    display: block;
}

 .header__sub-submenu__list>li:hover .header__sub-sub-submenu__list {
    display: block;
}

.header__sub-sub-submenu__list>li {}

.arrow {
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;

}

.arrow__right {
    transform: rotate(-90deg);
}
.header__slides__swiper{
    overflow: hidden;
}

// .arrow:active{
//     transform: rotate(180deg);
// }

// .header__menu a.parent{
//     margin: 0 30px 0 0;
// }
// body.touch .header__menu__list.open{
//     display: block;
// }
// body.touch .header__submenu__list.open{
//     display: block;
// }
// body.touch .header__sub-submenu__list.open{
//     display: block;
// }
// body.touch .header__sub-sub-submenu__list.open{
//     display: block;
// }

//
//
//адаптив под планшет
//
//
@media (max-width: 640px) {
    //
    //
    //main page
    //
    //
    .title{
        font-size: $fs36;
    }
    .subtitle{
        font-size: $fs14;
        width: 100%;
    }
    body{
        font-size: $fs16;
        line-height: 100%;
        padding: 0 10px;
    }
    .services__content-watch{
        a{
            font-size: $fs14;
        }
    }
    .link_for_me{
        display: none;
    }
    .container{
        max-width: 592px
    }
   
    .header{
        width: 592px;
        top: 28px;
        left: 20px;
        padding: 0 5px;
        
        &__img__logo{
            width: 49px;
            height: 19px;
            margin-right: 19px;
            &-text{
                width: 91px;
                height: 21px;
            }
        }
        &__top{
            align-items: center;
            &__list{
                display: none;
            }
            &__tel{
                font-size: $fs18;
                font-size: 14px;
                line-height: 17px;
            }
            &-tablet{
                &__list{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }
                &__item{
                    display: flex;
                    align-items: center;
                    margin-right: 12px;
                    img{
                        width: 19px;
                        height: 19px;
                        margin-right: 8px;
                    }
                    a{
                        font-size: $fs14;
                        color: $secondaryRed;
                        text-decoration: underline;
                    }
                }
            }
        }
        &__input{
            display: none;
            &-search{
                fill: $primary;
            }
        }
        &__top__input{
            display: none;
        }
        &__menu{
            &__list{
                padding-top: 0;
            }
            &__item{
                width: 36px;
            }
            a{
                font-size: $fs16;
                width: 56px;
            }
        }
        
        &__bot{
            max-width: 600px;
            margin-top: 20px;
            &-call{
                display: none;
            }
        }
    }
    .title__offer{
        font-size: $fs32;
        line-height: 37px;
        letter-spacing: 0.1em;
    }
    .header__offer-subtitle{
        width: 525px;
    }
    .header__call-offer{
        display: flex;
        align-items: center;
    }
    .header__call-link,
    .header__call-btn{
        width: 178px;
        height: 38px;
        padding: 4px 18px;
        font-size: $fs14;
    }
    .header-main-page__bot{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
    }
    .header__bot-contentbox{
        max-width: 286px;
        max-height: 76px;
        padding: 15px 28px;
        border-radius:4px;
    }
    //
    //
    //Наши услуги
    //
    //
    //
    //

    .services{
        &__subtitle{
            width: 100%
        }
    }
    //О клинике
    //
    //
    //
    //
    .about{
        &__citate__text{
            font-size: $fs18;
        }
        &__right__img {
            width: 210px;
            height: 252px;
        }
    }
    //Наши специалисты
    //
    //
    //
    //
    .spacialist{
        .container{
            overflow: hidden;
        }
    }
    .specialist__sliders-box .swiper-slide{
        width: 150px;
        height: 107px;
    }
   
    //ВЫГОДНЫЕ ПРЕДЛОЖЕНИЯ
    //
    //
    .offer{
        &__bot{
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            &-hidden{
                grid-template-columns: repeat(2,1fr);
                gap: 20px;
            }
        }
        &__card{
            max-width: 286px;
            max-height: 371px;
            border-radius: 4px;
            &__text{
                margin-top: 12.8em;
            }
        }
    }
     //
    //
    //Взгляните на клинику
    //
    //
    .clinic{
        &__wrapper{
            display: block;
            .specialist__subtitle {
                width: 80%;
            }
        }
        &__advantage{
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
        }
        &__right-swiper{
            margin-top: 20px;
            .swiper-slide{
                
                
                img{
                    width: 580px;
                    height: 365px;
                    border: 1px solid $gold;
                    border-radius: 4px;
                    
                }
            }
        }
    }
    //
    //
    //Отзывы пациентов
    //
    //
    .reviews{
        .reviews__sliders_swiper .swiper{
            margin-top: 40px;
        }
    }
     //
    //
    //Статьи
    //
    //
    .articles{
        &__bot-visiable{
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
        &__bot-hidden{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
    }
     //
    //
    //Контакты
    //
    //
    .contacts{
        
        &__bot{
            display: block;
            border: 2px solid black;
            &__info{
                width: 100%;
            }
            &__img{
                width: 592px;
                height: 266px;
            }
        }
    }
      //
    //
    //footer
    //
    //
    .record{
        &__bot{
            display: block;
            margin-top: 10px;
        }
        &__form{
            .form__input{
                width: 592px;
            }
        }
    }
        .footer {
            &::before{
                bottom: 31%;
                width: 99%;
            }
            padding: 0 5px;
            &__main {
                &-top {
                    margin-top: 50px;
    
                }
    
                &-item {
                    font-size: $fs14;
                    max-width: 210px;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
    
            &__top {
                display: block;
            }
    
            &__item__text {
                font-size: $fs16;
            }
    
            &__link {
                font-size: $fs14;
            }
    
        }
}