.our-services-page7{
    &__subtitle{
        max-width: 761px;
    }
    &__wrapper{
        display: flex;
        margin-top: 46px;
        justify-content: space-between;
    }
    &__contentbox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;  
    }
    &__content-card{
        border: 1px solid $gold;    
        border-radius:4px;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        &__title{
            
            text-align: center;
            font-size: $fs42;
            color: $secondaryRed;
            p{
                font-size: $fs42;
                margin-top: 20px;
                line-height: 120%;
            }
        }
        &__description{
            text-align: left;
            ul{
              display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-top: 40px;
            
            }
            li{
                margin-top: 10px;
                text-decoration: underline;
            }
            a{
                font-size: $fs16;
            }
            &-bot{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                flex-grow: 1;
                
               
                ul{
                    display: flex;
                    flex-direction: column;
                }
                li{
                    display: flex;
                    flex-direction: column;
                    margin-top: 5px;
                    text-decoration: underline;
                }
                a{
                    font-size: $fs16;
                }
            }
            
        }
        &__more{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                font-size: $fs16;
                color: $secondaryRed;
                &:hover{
                    font-weight: 400;
                    transition: all 0.3s ease-in;
                    
                }
            }
            img{
                margin-left: 15px;
            }
        }
    }
    &__content-card:nth-child(1){
        grid-column: span 2;
        margin-top: 0;
    }
}
.our-services-page7__menu__services {
    width: 309px;
    
    margin-right: 20px;
    border-radius: 4px;
    color: $bg;
  }
  .our-services-page7__menu__services__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFF9EF;
    margin-top: 14px;
  }
 //sidebar menu
 .submenu__services__list{
    flex-direction: column;
 }
 .menu__services__item{
    flex-direction: column;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 }
//
//
//
//accordioin menu
//
//
.accordion__menu{
    background-color: $primary;
    width: 309px;
    color: $white;
    border-radius: 4px;
    &__list{
        display: flex;
        flex-direction: column;
    }
}
.accordion__menu__btn {
    background-color: transparent;
    color: $white;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.5s;
    border-bottom: 1px solid $bg;
    border-width: 96%;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
}
.accordion__menu__btn.accordion__menu__btn-lvl2{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #FFF9EF;
}
.accordion__menu__btn-lvl3{
    font-family: 'Fira Sans';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 140%;
}

.active1, .accordion__menu__btn:hover {
    background-color: $primary;
}

.accordion__menu__btn:after {
    content: '\002B';
    color: white;
    font-size: 18px;
    float: right;
    margin-left: 5px;
}

.active1:after {
    content: "\2212";
    // color: white;
    // font-size: 18px;
    // font-weight: bold;
    // float: right;
    // margin-left: 5px;
}


.accordion__menu__item {
    padding: 0 0px;
    color: $white;
    max-height: 0;
    overflow: hidden;
    
    transition: max-height 0.3s ease-out;
    p{
        padding: 16px;
        font-size: $fs14;
    }
    button{
        font-size: $fs16;
    }
}


@media (max-width: 640px) {
    .our-services-page7{
        &__wrapper{
            
            flex-direction: column;
        }
        &__bot{
            margin-top: 80px;
        }
        .accordion__menu{
            width: 580px;
        }
        &__content-card{
            padding: 10px 5px;
            &__title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }
                p{
                    font-size: 28px;
                    line-height: 110%;
                    margin-top: 0;
                }
            }
            &__description{
               ul{
                grid-template-columns: repeat(2,1fr)
               }
                font-size: $fs14;
                margin-left: 10%;
                a{
                    font-size: $fs14;
                    line-height: 140%;
                    } 
                &-bot{
                  a{
                    font-size: $fs14;
                    line-height: 140%;
                    }  
                }
            }
            &__more{
                flex-grow: 0;
                a{
                    font-size: $fs14;
                }
                img{
                    width: 30px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .our-services-page7 {
        .content-card__description ul{
            grid-template-columns: repeat(1, 1fr);
            padding-left: 0px;
        }
        .content-card__description li{
            font-size: $fs14;
        }

        &__wrapper {
            flex-direction: column;
        }
        &__contentbox{
            grid-template-columns: repeat(1,1fr);
        }
        &__bot{
            display: none;
        }
        &__menu__services{
            width: 100%;
        }
        .accordion__menu{
            width: 288px;
            border-radius: 4px;
        }
        .content-card__more p{
            font-size: $fs12;
        }
    }
   
}