.our-services-page7{
    &__subtitle{
        max-width: 761px;
    }
    &__wrapper{
        display: flex;
        margin-top: 46px;
        justify-content: space-between;
    }
    &__contentbox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;  
    }
    &__content-card{
        border: 1px solid $gold;    
        border-radius:4px;
        padding: 20px 30px;
        &__title{
            
            text-align: center;
            font-size: $fs42;
            color: $secondaryRed;
            p{
                margin-top: 20px;
            }
        }
        &__description{
            ul{
              display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-top: 40px;
            
            }
            li{
                margin-top: 10px;
                text-decoration: underline;
            }
            &-bot{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                ul{
                    display: flex;
                    flex-direction: column;
                }
                li{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    text-decoration: underline;
                }
            }
            
        }
        &__more{
            display: flex;
            align-items: center;
            flex-grow: 1;
            p{
                font-size: $fs20;
                color: $secondaryRed;
            }
            svg{
                margin-left: 15px;
            }
        }
    }
    &__content-card:nth-child(1){
        grid-column: span 2;
        margin-top: 0;
    }
}
.our-services-page7__menu__services {
    width: 309px;
    max-height: 400px;
    margin-right: 20px;
    border-radius: 4px;
    padding: 14px;
    color: #FFF9EF;
    background-color: #093A67;
  }
  .our-services-page7__menu__services__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFF9EF;
    margin-top: 14px;
  }


@media (max-width: 640px) {
   
}

@media (max-width: 320px) {
    .our-services-page7 {
      

        &__wrapper {
            flex-direction: column;
        }
        &__contentbox{
            grid-template-columns: repeat(1,1fr);
        }
        &__bot{
            display: none;
        }
        &__menu__services{
            width: 100%;
        }
    
    }
}