.services-chapter {
    &__physics{
        margin-top: 300px;
    }
    &__physics-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 309px;
        height: 375px;
        border: 1px solid $gold;
        border-radius: 4px;
        padding: 26px 21px;
        
    }
    &__contentbox {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        &-img{
            width: 104px;
            height: 104px;
        }
        &-text {
            font-size: $fs24;
            margin: 16px 0;
        }

        &-date {
            color: $secondaryRed;
            font-size: $fs32;
        }

        &-btn__hidden {
            margin: 16px 0;
            padding: 0px 30px;
            width: 220px;
            height: 44px;
            background: #972A29;
            border: none;
            border-radius: 4px;
            font-family: "Fira Sans";
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFF9EF;
            visibility: hidden;
        }
        


    }

}

.services-chapter__content:hover .services-chapter__contentbox-btn__hidden{
  visibility: visible;
  transition: all 0.8s linear;
}

@media (max-width: 640px) {
    .services-chapter {
        &__physics {
            margin-top: $tabletMargin;

            &-wrapper {
                flex-direction: column;
            }
        }
        &__contentbox{
            margin-top: 20px;
            grid-template-columns: repeat(2,1fr);
            &-img{
                width: 90px;
                height: 90px;
            }
            &-text{
                font-size: $fs20;
                margin: 10px 0;
            }
            &-date{
                font-size: $fs24;
            }
            &-btn__hidden{
                width: 178px;
                height: 38px;
                padding: 4px 12px;
                font-size: $fs12;
                margin: 10px 0;
                &:hover{
                    background-color: $btnHover;
                    transition: all .4s ease-in;
                }
            }
        }
        &__content{
            width: 290px;
            height: 340px;
        }
    }
}