.services-chapter {
    &__physics{
        margin-top: $marginTitle;
    }
    &__physics-wrapper{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 276px;
        height: 366px;
        border: 1px solid $gold;
        border-radius: 4px;
        padding: 26px 21px;
        
    }
    &__contentbox {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        &-img{
            width: 104px;
            height: 104px;
        }
        &-text {
            font-size: $fs22;
            margin: 16px 0;
        }

        &-date {
            color: $secondaryRed;
            font-size: $fs32;
            font-weight: 400;
        }

        &-btn__hidden {
            margin: 16px 0;
            padding: 0px 30px;
            width: 220px;
            height: 44px;
            background: #972A29;
            border: none;
            border-radius: 4px;
            font-family: "Fira Sans";
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFF9EF;
            visibility: hidden;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;
            
          
            &:hover {
              background-size: 100% 100%;
              background-position-x: left;
              background-image: linear-gradient($btnHover, $btnHover);
            }
        }
        
        .similar__procedures__sale{
            margin-top: 0;
        }

    }
    &__list-page{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__item-page{
        padding: 2px 10px;
        font-size: $fs14;
        margin-right: 20px;
        a{
        display: flex;
        align-items: center;
        }
        p{
        
        margin-right: 15px;
        }
        &:hover{
            background-color: $primary;
            color: $bg;
            border-radius: 4px;
        }
    }

}

.services-chapter__content:hover .services-chapter__contentbox-btn__hidden{
  visibility: visible;
  transition: visibility 0.8s, background-size 0.5s;
}

@media (max-width: 640px) {
    
    .services-chapter {
        
        
        &__physics {
            margin-top: $marginTitleTablet;
            padding: 0 5px;
            &-wrapper {
                flex-direction: column;
            }
            .accordion__menu{
                width: 580px;
                border-radius: 4px;
            }
            .title{
                text-transform: uppercase;
            }
            .subtitle{
                font-size: 16px;
                line-height: 140%;
                width: 100%;
            }
        }
        &__contentbox{
            margin-top: 32px;
            grid-template-columns: repeat(2,1fr);
            &-img{
                width: 90px;
                height: 90px;
            }
            &-text{
                font-size: $fs20;
                margin: 10px 0;
            }
            &-date{
                font-size: $fs24;
            }
            &-btn__hidden{
                width: 178px;
                height: 38px;
                padding: 4px 12px;
                font-size: $fs12;
                margin: 10px 0;
                &:hover{
                    background-color: $btnHover;
                    transition: all .4s ease-in;
                }
            }
        }
        &__content{
            width: 270px;
            height: 330px;
            padding: 10px 17px;
        }
    }
}

@media (max-width: 320px){
    .services-chapter {
        
        &__contentbox{
            grid-template-columns: repeat(1,1fr);
            
        }
        &__item-page{
            margin-right: 0;
            line-height: 140%;
        }
        &__content{
            padding: 10px;
            height: 292px;
        }
            &__physics {
                margin-top: $marginTitlePhone;
                .accordion__menu{
                    width: 288px;
                    border-radius: 4px;
                }
                
                .subtitle{
                    font-size: $fs14;
                }
                .accordion__menu__btn{
                    font-size: 16px;
                }
            }
        }
    
}