.body{
    background-color: $bg;
}
.services-page__header{
    margin-top: 20vh;
    // .title{
    //     margin-top: 150px;

    // }
    .header__procedures{
        margin-top: 27px;
        &__contentbox{
            margin-top: 27px;
        }
        &__text{
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 22px;
            line-height: 140%;
        }
        &__price{
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            text-align: right;
            color: #972A29;
        }
    }
}
.subtitle-page2{
   max-width: 680px;
}
.header__bot-page2{
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(3,1fr)
}
.header__bot-contentbox-page2:not(:last-child){
    
    margin-right: 28px;
}
.header{
    &__procedures{
        margin-top: 200px;
        &__contentbox{
            margin-top: 16px;
            display: flex;
            align-items: center;
            width: 100%;
            height: 80px;
            justify-content: space-between;
            border: 1px solid $gold;
            border-radius: 4px;
            padding: 30px 46px;
            div{
                display: flex;
                align-items: center;
            }
            }
            &__price{
                margin-right: 68px;
                
            }
    }
}

.btn__header-page2{
    padding: 0px 30px;
    width: 220px;
    height: 40px;
    background: $secondaryRed;
    border: none;
    border-radius: 4px;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $bg;
    background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;
            transition: background-size 0.5s;
          
            &:hover {
              background-size: 100% 100%;
              background-position-x: left;
              background-image: linear-gradient($btnHover, $btnHover);
            }
}

//
//
//QUESTIONS
//
//
.questions{
    
    margin-top: 86px;
    font-family: 'Fira Sans';
    .questions__subtitle{
        margin-top: 16px;
    }
    &__wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__left{
        max-width: 871px;
        margin-right: 20px;
    }
    
    &__right{
        max-width: 421px;
        height: 821px;
    }
    &__contentbox:not(:first-child){
        margin-top: 60px;
    }
    &__contentbox{
        
        &__list{
        margin-top: 15px;
        }
        &__item:first-child{
        font-weight: 600;
        font-size: $fs20;
        }
        &__item{
            font-family: 'Fira Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 140%;
margin-top: 10px;
            
        }
       
    }
    &__brochure{
        text-align: center;
        margin-top: 60px;
        background-color: $primary;
        color: $bg;
        padding: 60px;
        border-radius: 4px;
        &-title{
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 100%;
            text-align: center;
            padding: 0 100px;
        }
        &-title-span{
            color: #ECBD86;
        }
        
        &-steps{
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 25px;
        }
        &-step{
            border-radius: 4px;
            position: relative;
            max-width: 260px;
            border: 1px solid $bg;
            padding: 10px 25px 30px 25px;
            &__number{
                text-align: left;
                margin-left: 10px;
                font-size: $fs24;
            }
        }
        &-text{
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
        }
        &-subtext{
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: $textWhite;
        }
        &-btn{
            margin-top: 29px;
            padding: 0px 30px;
            width: 212px;
            height: 44px;
            background: $secondaryRed;
            border: none;
            border-radius: 4px;
            font-family: 'Fira Sans';
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $bg;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;
            transition: background-size 0.5s;
          
            &:hover {
              background-size: 100% 100%;
              background-position-x: left;
              background-image: linear-gradient($btnHover, $btnHover);
            }
        }
        
    }
    &__right{
        // position: fixed;
        // top: 0;
        // right: 0;
        &-list{
            border-radius: 4px;
        padding: 28px 0px 28px 30px;
        background-color: $primary;
        color: $bg;
        &__text{
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 140%;
            
        }
    }
    &-item{
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        text-decoration-line: underline;
        margin-top: 10px;
        margin-left: 22px;
        list-style: decimal;
        &:first-child{
            margin-top: 24px; 
        }
        &-first{
            margin-bottom: 20px;
            font-weight: 600;
            font-size: $fs22;
            line-height: 140%;
            text-decoration: none;
        }
    }
    &-contentbox{
        margin-top: 16px;
        padding: 23px 29px;
        border: 1px solid $gold;
        border-radius: 4px;   
        text-align: center;
        width: 344px;
        height: 147px;
 }
    &-text{  
        font-size: $fs16;
        color: $secondaryRed;
        margin-bottom: 16px;
        line-height: 140%;
    }
    &-btn{
        
        padding: 0px 30px;
        width: 220px;
        height: 44px;
        background: $secondaryRed;
        border: none;
        border-radius: 4px;
        font-family: 'Fira Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $bg;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 0.5s;
      
        &:hover {
          background-size: 100% 100%;
          background-position-x: left;
          background-image: linear-gradient($btnHover, $btnHover);
        }
    }
}
    
}

//
//
//SIMILAR
//
//


.similar{
    margin-top: $marginTop;
    padding: 0 10px;
    .subtitle{
        max-width: 525px;
    }
    &__procedures{
        margin-top: 49px;
        &__text{
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
        }
        &__subtext{
            font-size: $fs16;
            line-height: 120%;
            margin-top: 4px;
        }
      &__contentbox{
        margin-top: 24px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border: 1px solid #AE8452;
        border-radius: 4px;
        padding: 24px;
        max-height: 257px;
        &-middle{
            flex-direction: column;
            max-width: 728px;
            text-align: left;
        }
        &-right{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
    }  
    &__btn{
        border: none;
        color: #FFF9EF;
  font-size: $fs12;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #972A29;
  width: 212px;
  height: 44px;
  border-radius: 4px;
  padding: 13px 20px;
  margin-top: 27px;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 0.5s;

  &:hover {
    background-size: 100% 100%;
    background-position-x: left;
    background-image: linear-gradient($btnHover, $btnHover);
  }
    }

    &__sale{
        background: transparent;
  color: $primary;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 212px;
  height: 44px;
  border-radius: 4px;
  padding: 13px 30px;
  border: 1px solid $primary;
  margin-top: 16px;
  &:hover{
    background: $primary;
    color: $bg;
    transition: all 0.4s ease-in;
  }
    }
    &__price{
        font-family: 'Oranienbaum';
font-weight: 400;
font-size: $fs24;
color: #972A29;

    }
    }
    
}

//
//
//OFFER
//
//
.offer{
    
    &-services__bot-hidden{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-top: 22px;
        display: none;
    }
    &__specialist-page-hidden{
        display: none;
    }
}

//
//
//ADAPTIVE FOR TABLET
//
//
@media (max-width: 640px) {
    
    .services-page__header {
        margin-top: $marginTitleTablet;
        
        .title{
            margin-top: 50px;
        }
        .subtitle{
            font-size: 14px;
        line-height: 140%;
        width: 100%;
        }
        .header {
            
            margin: 0 5px;
            &__bot {
                &-page2 {
                    margin-top: 130px;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 20px;
                }

                &-contentbox {
                    max-height: 150px;
                    max-width: 96%;
                    align-items: center;
                    padding: 10px 28px;
                    img{
                        width: 49px;
                        height: 48px;
                    }
                    &-descr{
                        width: 100%;
                      h4{
                        font-weight: 700;
                        font-size: $fs16; 
                        margin: 10px 0;
                      }
                           p{
                            
                            font-size: $fs14;
                            line-height: 140%; 
                           } 
                        
                    }
                   
                    &-page2 {
                        margin-top: 0px;
                    }

                }

            }
            &__procedures{
                margin-top: 20px;
                font-size: $fs16;
                &__contentbox{
                    margin-top: 20px;
                    padding: 0px 18px;
                    width: 96%;
                }
                &__text{
                    font-size: $fs16;
                    line-height: 140%;
                }
                &__price{
                    margin-right: 50px;
                    font-size: $fs16;
                    width: 51px;
                }
                .btn__header-page2{
                    width: 182px;
                    height: 38px;
                    padding: 4px 18px;
                    font-size: $fs10;
                }
                
            }
            
        }
    }
//
//
//questions
//
//
.questions{
    &__brochure{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        &-steps{
            flex-direction: column;
        }
        &-step{
            max-width: 100%;
            padding: 10px 20px;
            margin-top: 20px;
        }
    }
    margin-left: 20px;
    margin-right: 5px;
    &__brochure-title {
        padding: 0 20px;
    }
}
//
//
//services
//
//
   .services__bot{
    display: none;
   }
//
//
//
//
//

//
//
//СПЕЦИАЛИСТЫ
//
//
.specialist{
    &__sliders__swiper {
        .specialist__slider{
            .swiper-slide{
                width: 150px;
                height: 200px;
            }
        }
    }
}
//
//
//REVIEWS
//
//
.reviews{
    &__sliders-box{
        padding: 8px 40px;
    }
}

//
//
//SIMILAR SERVICES
//
//
.similar{
    &__procedures{
        &__contentbox{
            max-height: 400px;
            flex-direction: column;
            padding: 5px 10px;
            img{
                width: 150px;
                height: 150px;
            }
            &-middle{
               text-align: center;
                width: 90%;
                margin-top: 20px;
            }
            &-right{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                .similar__procedures__price{
                    grid-column: span 3;
                    grid-row: span 1;
                    gap: 20px;
                }
            
            }
            
        }
        &__text{
            font-weight: 700;
            font-size: $fs16;
        }
        &_subtitle{
            font-size: $fs14;
        }
        &__price{
            font-size: $fs18;
            margin: 10px 0;
        }
        &__btn,
        &__sale{
            width: 178px;
            height: 38px;
            padding: 4px 18px;
            font-size: $fs10;
            margin-top: 5px;
            margin-right: 5px;
        }
        
    }
}

//
//
//OFFER
//
//
.offer {
    

    &-services__bot-hidden {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .btn{
        margin: 50px 30% 0px;
        width: 178px;
        height: 38px;
        padding: 4px 18px;
        font-size: $fs10;
        
    }
}

//
//
//FOOTER
//
//
.footer{
    &__top{
        display: block;
    }
}


}

@media (max-width: 320px) {
    .header__menu-navpage__list .header__menu-navpage__item{
        a{
           font-size: 6px; 
        }
        
    }
    .services-page__header{
       margin-left: 0;
       margin-top: 0vh;
        
        
        .title{
            font-size: 28px;
        }
        .subtitle{
            font-size: $fs14;
        }
        .header__call{
            margin-top: 30px;
        }
        .header__bot-contentbox{
            width: 286px;
            height: 76px;
            padding: 5px 10px;
            border-radius: 4px;
            img{
                margin-top: 0px;
                width: 44px;
                height: 44px;
            }
            &-descr{
                h4{
                    font-size: $fs14;
                    line-height: 140%;
                    margin: 0;
                }
                p{
                    font-size: $fs12;
                }
            }
        }
        .header__procedures{
            margin-top: 20px;
            &__contentbox{
                // padding: 0px 38px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 160px;
                width: 100%;
                div{
                    flex-direction: column;
                }
                
            }
            &__price{
                margin: 10px 0;
            }
            &__text{
                padding: 0 20px;
            }
        }
        .header__bot-page2{
            margin-top: 36px;
        }

    }
    //
    //
    //questions
    //
    //
        .questions {
            
           .subtitle.questions__subtitle{
            font-size: $fs14;
           }
    
            &__contentbox {
                max-width: 288px;
                margin-top: 20px;
                &:not(:first-child) {
                    margin-top: 40px;
                }
                &__item{
                    line-height: 140%;
                }
            }
    
            &__brochure {
                padding: 20px;
                border-radius: 4px;
                &-title{
                    font-size: $fs20;
                    line-height: 140%;
                    padding: 0 5px;
                }
                &-img{
                    width: 50px;
                    height: 50px;
                }
                &-text{
                    font-size: $fs16;
                    line-height: 140%;
                }
                &__subtext{
                    line-height: 140%;
                }
                &-steps {
                    display: flex;
                    flex-direction: column;
                    
                }
    
                &-step {
                    display: gird;
                    grid-template-columns: repeat(2,1fr);
                    border-radius: 4px;
                    margin-top: 10px;
                    padding: 5px;
                }
                
            }
        }
        
    //
    //
    //reviews
    //
    //
    //
    .reviews{
        .title{
            font-size: 29px;
        }
    }
    //
    //offer
    //
    //
    .offer{
        &-services__bot-hidden{
            grid-template-columns: repeat(1,1fr);
        }
        .offer-services__btn {
            margin: 32px 0% 0px;
            width: 97%;
        }
    }
     //
    //
    //similar
    //
    //
    .similar{
        margin-top: 100px;
        .undertitle{
            font-size: $fs10;
        }
        &__procedures__contentbox{
                min-height: 525px;
            &-middle{
                margin-left: 0;
            }
            &-right{
            grid-template-columns: repeat(1,1fr);
            .similar__procedures__price{
                grid-column: span 1;
                grid-row: span 1;
                gap: 20px;
            }
        }
        }
    }
    .specialist{
        .arrow-link__phone{
            display: block;
        }
    }
    
}