.share-archive{
   
    &__offer{
        background-image: url('../../img/bg_header.jpg');
    width: 100%;
    min-height: 100vh;
    background-position: center bottom;
    padding-top: $marginTitle;
    background-size: cover;
    position: relative;
    }
    &__offer__bot{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 56px;
        gap: 10px;
    }
    &__offer__card{
        width: 278px;
        height: 356px;
        background-image: url('../../img/offer/offer3.jpg');
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;
        margin-top: 14px;

        &__stock {
            font-family: 'Fira Sans';
            display: inline-block;
            font-weight: 500;
            font-size: 10px;
            line-height: 120%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background: $secondaryRed;
            color: #FFF9EF;
            padding: 4px 16px;
            margin-right: auto;
            margin-top: 20px;
            border-radius: 2px;
        }

        &__title {
            font-family: 'Fira Sans';
            font-weight: 700;
            font-size: $fs14;
            line-height: 140%;

        }

        &__subtitle {
            font-family: 'Fira Sans';
            font-weight: 300;
            font-size: $fs12;
            line-height: 140%;
            margin-top: 4px;
        }

    }
        &__btn {
            
                margin: 50px 44% 0px;
                padding: 0px 30px;
                width: 180px;
                height: 40px;
                background: $secondaryRed;
                border: none;
                border-radius: 4px;
                font-family: 'Fira Sans';
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $bg;
            
        }
        }


@media (max-width: 640px) {
    .share-archive{
        
        &__offer{
            margin-top: $marginTitleTablet;
            padding: 0 5px;
            &__bot{
                grid-template-columns: repeat(2, 1fr);
            }
            &__card{
                width: 280px;
                height: 358px;
                &__text{
                    margin-top: 9.2em;
                }
            }
        }
        
    }
}
@media (max-width: 320px) {
    .share-archive__offer{
            margin-top: $marginTitlePhone;
            .undertitle{
                font-size: $fs10;
            }
            &__bot{
                grid-template-columns: repeat(1,1fr);
            }
            &__card{
                &__text{
                    margin-top: 70%;
                    max-width: 250px;
                }
                &__title{
                font-size: $fs16;
                line-height: 140%;
            }
            &__subtitle{
                font-size: $fs14;
                line-height: 140%;
            }
            }
        }
    
}