.body {
    background-color: $bg;
}
.specialist-page__header{
    background-image: url('../../img/bg_header.jpg');
    width: 100%;
    min-height: 100vh;
    background-position: center bottom;
    padding-top: $marginTitle;
    background-size: cover;
    position: relative;
    .about__right_specialist-page{
    position: relative;
    }
    .about__right-border__specialist-page{
        top: 0%;
        height: 539px;
    }
}
.header{
    &__skills{
        margin-top: $marginTop;
        margin-left: 3%;
        &__list{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            
        }
        &__item{
            font-family: 'Fira Sans';
            font-style: normal;
            display: flex;
            margin-top: 16px;
            font-size: $fs20;
            max-width: 550px;
            &::before{
                content: '-';
                color: $secondaryRed;
                margin-right: 10px;
            }
        }
    }
    &__specialist-page {
    &__title {
        font-family: 'Oranienbaum';
        font-weight: 400;
        font-size: 58px;
        line-height: 67px;
    }
    

    &__contentbox {
        display: flex;
        justify-content: space-between;
        .undertitle{
            margin-top: 20px;
        }
    }
    &__raiting{
        display: flex;
        margin-top: 12px;
        align-items: center;
        img{
            width: 20px;
            height: 20px;
            margin-left: 5px;
        }
    }
    &__reviews{
        font-size: $fs20;
        text-decoration: underline;
        margin-left: 22px;
    }
    &__list{
        margin-top: 50px;
    }
    &__item{
        font-size: $fs20;
        margin-top: 6px;
        &-span{
        border-bottom: 1px solid $gold;
        font-weight: 600;
        }
    }
    &__call{
        margin-top: 50px;
    }
}
}


.similar__specialist-page3{
    margin-top: 140px;
    &__subtitle{
        font-size: $fs20;
    }
}
.specialist-page__questions__brochure{
    text-align: center;
    &-steps{
    justify-content:space-around;
}
}


//
//
//ABOUT DOCTOR
//
//
.about-doctor{
    margin-top: $marginTop;
    padding: 0 10px;
    
    &__contentbox{
        padding: 18px 40px;
        width: 100%;
        border: 1px solid #AE8452;
        border-radius: 4px;
        margin-top: 36px;
    }
    &__question{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
            transform: rotate(0deg);
            transition: all 0.4s linear;
           
        }
       
    }
    &__title{
        font-family: 'Oranienbaum';
        font-weight: 400;
        font-size: $fs36;
        line-height: 100%;
    }
    &__answer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s ease-in;
       &-text{
        margin-right: 40px;
        margin-top: 16px;
        font-size: $fs16;
        &::before{
            content: '- ';
            color: $secondaryRed;
        }
       }
    }
}

// .about-doctor__question:active .about-doctor__img{
//     transform: rotate(405deg);
//     transition: all 0.4s linear;
// }
.about-doctor__contentbox.active .about-doctor__answer{
    min-height: 100px;
}

@media (max-width: 640px) {
  
    .specialist-page__header{
        margin-top: $marginTitleTablet;
        .about__right__img{
            width: 300px;
            height: 350px;
            margin-left: 15px;
        }
        .header__skills__item {
            margin-top: 10px;
            font-size: $fs16;
            line-height: 140%;
            width: 250px;
        }
        .about__right-border__specialist-page {
            top: 0%;
            height: 353px;
            right: 0%;
            width: 96%;
        }
        
    }
    .header__specialist-page{
        &__title{
            margin-top: 20px;
            font-size: $fs24;
            line-height: 140%;
            margin-bottom: 10px;
        }
        .header__skills{
            margin-top: 120px;
        }
        .header__skills__item{
            font-size: $fs18;
            line-height: 120%;
        }
        &__list{
            margin-top: 40px;
        }
        &__raiting{
            img{
                width: 15px;
                height: 15px;
            }
        }
        &__reviews {
            font-size: $fs16;
        }
        &__item{
            font-size: $fs16;
            margin-top: 0;
        }
        &__contentbox{
            justify-content: center;
            .undertitle{
                margin-top: 4px;
                font-size: $fs10;
            }
        }
       &__call{
        flex-direction: column;
        margin-top: 36px;
        .header__call-link{
            margin-right: 0;
            padding: 10px 18px;
            margin-bottom: 10px;
        }
       }
        .header__skills{
            margin-top: 100px;
        }
    }
    //
    //
    //ABOUT DOCTOR
    //
    //
    .about-doctor{
        margin-top: 100px;
       
        &__title{
            font-size: 26px;
            
        }
        &__contentbox{
            padding: 6px 25px;
            margin-top: 20px;
        }
        &__question{
            padding: 12px 8px;
            img{
                width: 30px;
                height: 30px;
                transform: rotate(0deg);
                transition: all 0.4s linear;
            }
        }
        &__answer-text{
            font-size: $fs16;
        }
        .about-doctor__question:hover .about-doctor__img{
            transform: rotate(405deg);
            transition: all 0.4s linear;
        }
    }
    //
    //
    //REVIEWS
    //
    //
        .reviews__sliders__swiper{
            margin-top: 20px;  
            width: 588px;
        }
    //
    //
    //BROCHURE
    //
    //
    //
    .specialist-page__questions__brochure{
        padding: 20px 10px;
        .questions__brochure{
          &-img{
            width: 60px;
            height: 60px;
            
        }  
        &-text{

        }
        &-btn{
            margin-top: 20px;
            width: 172px;
        }
        }
        .questions__brochure-btn {
            margin-top: 20px;
           width: 212px;
        }
    }
    //
    //
    //
    //
    //SIMILAR SERVICES
    //
    //
    //
    .similar__specialist-page3{
        margin-top: 100px;
       
        .similar__procedures__contentbox{
            flex-direction: column;
            max-height: 330px;
            padding: 16px;
            img{
                width: 150px;
                height: 150px;
            }
            &-right{
                flex-direction: row;
                margin-top: 20px;
                margin-left: 17px;
               
               
            }
            .similar__procedures__text{
                font-size: $fs18;
                font-weight: 700;

            }
            .similar__procedures__btn,
            .similar__procedures__sale{
                margin: 0 10px;
                width: 200px;
                padding: 10px 5px;
            }
            
            .similar__procedures__price{
            }
        }
       
    }
    
}
@media (max-width: 320px) {
    .container{
        max-width: 288px;
        margin: 0 auto;
        overflow: hidden;
        padding-left: 0px;
    }

    section .header__menu-navpage__list {
        margin-bottom: 0px;

        .header__menu-navpage__item {
            font-size: 8px;

        }
    }

    .specialist-page__header {
        margin-top: $marginTitlePhone;

        .header__specialist-page {
            &__contentbox {
                flex-direction: column;

                &__list {}
            }

            &__call {
                margin-top: 30px;
                flex-direction: column;
                align-items: center;
            }
        }

        .about__right__img {
            width: 286px;
            margin-left: 0;
        }
        .about__right_specialist-page{
            order: -1;
        }



        .header__call {
            &-link {
                width: 100%;
                padding: 10px 18px;
                margin-left: 0;
                &:hover {
                    background-color: $btnHover;
                    transition: all 0.4s ease-in;
                }
            }

            &-btn {
                margin-top: 10px;
                margin-left: 0;
                width: 100%;
                margin-right: 0;
                &:hover {
                    background: $primary;
                    color: $bg;
                    transition: all 0.4s ease-in;
                }
            }
        }
        .header__specialist-page__call{
        margin-top: 50px;
        
        }

        .header__skills {
            margin-top: 100px;
            margin-left: 0;
            width: 288px;

            &__list {
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
            }

            &__item {
                font-size: $fs14;
                line-height: 140%;
                width: 288px;
            }
        }

    }
    .offer .btn {
        margin: 30px 0% 0px;
        width: 97%;
        height: 38px;
        padding: 4px 18px;
        font-size: 10px;
    }
    //
    //
    //about doctor
    //
    //
    .about-doctor {
        margin-top: 100px;

        &__title {
            font-size: $fs22;
        }
        &__answer{
            grid-template-columns: repeat(1,1fr);
            &-text{
                font-size: $fs14;
                line-height: 140%;
            }
        }
    }

    .similar {
        .similar__procedures__contentbox .similar__procedures__btn{
            width: 90%;
            margin-left: 0;
        }
        .similar__procedures__contentbox{
            .similar__procedures__sale{
                width: 90%;

            }
        } 
        &__procedures{
            
            &__price{
                width: 288px;
            }
            
            &__btn{
                
            }
        }
        &__procedures__subtext{
            margin-top: 10px;
            font-size: $fs14;
            line-height: 140%;
        }
        .questions__brochure-title{
            font-size: 18px;
            line-height: 140%;
            font-weight: 700;
        }
        
        .questions__brochure-subtext{
            
            line-height: 140%;
        }
        
        .questions__brochure-btn {
            width: 96%;
        }
    }
}