.specialist-chapter{
    margin-top: $marginTitle;
    &__wrapper{
        margin-top: 40px;
        display: flex;
        
    }
    &__contentbox{
        &-title{
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: $fs42;
            line-height: 100%;
        }
        &-top{
            margin-top: 20px;
            margin-bottom: 95px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 28px;
        }
        &-bot{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 28px;
        }
    }
    &__content{
        width: 308px;
        height: 395px;
        background-image: url('../img/doctor.jpg');
        background-size: contain;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
       border: 1px solid $gold;
       border-radius: 4px;
        &-text{
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 249, 239, 0.6);
            width: 100%;
            padding: 14px 20px;
            transform: translateY(130px);
           
        }
        &-undertitle{
            font-size: $fs10;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        &-title{
            font-size: $fs16;
            font-weight: 600;
        }
        &-btn{
            &-record{
                margin: 15px 0;
                padding: 0px 30px;
                max-width: 268px;
                height: 44px;
                background: $secondaryRed;
                border: none;
                border-radius: 4px;
                font-family: 'Fira Sans';
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $bg;
                &:hover{
                    background-color: $btnHover;
                    transition: all .4s ease-in;
                }
            }
            &-more{
                padding: 0px 30px;
                max-width: 268px;
                height: 44px;
                background: transparent;
                border: none;
                border: 1px solid $primary;
                border-radius: 4px;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $primary;
                &:hover{
                    background: $primary;
                    color: $bg;
                    transition: all 0.4s ease-in;
                }
            }
        }
    }

}

.specialist-chapter__content:hover .specialist-chapter__content-text{
    transform: translateY(0px);
    transition: all 0.8s ease-in;
}

@media (max-width: 640px) {
    .specialist-chapter {
        margin-top: $tabletMargin;
        padding: 0 5px;
        &__wrapper {
            flex-direction: column;
            .our-services-page7__menu__services{
                width: 100%;
            }
        }
        &__contentbox{
            margin-top: 95px;
            &-bot{
                grid-template-columns: repeat(2,1fr);
            }
        }
        &__content{
            max-width: 272px;
            max-height: 356px;
        }
        .accordion__menu{
            width: 580px;
        }
    }
}

@media (max-width: 320px){
    .title {
        font-size: $fs30;
        line-height: 140%;
    }
    .specialist-chapter {
        margin-top: $phoneMargin;
    }
}