.header__stock-page{
    background-image: url('../../img/bg_header.jpg');
    width: 100%;
    min-height: 50vh;
    background-position: center bottom;
    padding-top: $marginTitle;
    background-size: cover;
    position: relative;
    &__title{
        font-size: 64px;
        text-transform: uppercase;
        line-height: 140%;
    }
    .subtitle{
        max-width: 758px;
        font-size: $fs20;
        margin-top: 10px;
    }
    &__contentbox{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        max-width: 843px;
    }
    &__right{
        width: 309px;
        height: 300px;
        border: 1px solid $gold;
        border-radius: 4px;
        text-align: center;
        padding: 20px 33px;
        background-color: $bg;
        &-stock{
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 40px;
            line-height: 140%;
            font-weight: 400;
            color: $primary;
            text-align: left;
        }
        &-sale{
            font-size: $fs24;
            text-align: right;
            text-decoration:line-through;
            color: $gold;

        }
        &-text{
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 64px;
            line-height: 74px;
            text-align: center;
            letter-spacing: 0.1em;
            color: $secondaryRed;
            margin-bottom: 40px;
        }
        &-btn{
            padding: 0px 30px;
            width: 220px;
            height: 44px;
            background: $secondaryRed;
            border: none;
            border-radius: 4px;
            font-family: 'Fira Sans';
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $bg;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;
            transition: background-size 0.5s;
          
            &:hover {
              background-size: 100% 100%;
              background-position-x: left;
              background-image: linear-gradient($btnHover, $btnHover);
            }
        }
    }
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 121px 0px 0px 0px;
        
    }
    &__link{
        border: 1px solid $secondaryRed;
        border-radius: 25px;
        padding: 10px 20px;
        color: $secondaryRed;
        font-size: $fs14;
        margin-right: 16px;
        font-weight: 400;
        transition: all 0.4s linear;
        &:hover{
            color: $bg;
            background-color: $secondaryRed;
        }
    }
    &__bot{
        margin-top: 29px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        display: flex;
        align-items: center;
        background-color: $primary;
        width: 309px;
        height: 100px;
        color: $bg;
        border-radius: 4px;
        padding: 28px 20px;
        
        &:not(:last-child){
            margin-right: 28px;
        }
        img{
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
        p{
            font-family: 'Fira Sans';
            font-style: normal;
            font-size: $fs16;
            line-height: 140%;
            font-weight: 700;
        }
    }
    &__procedures{
        margin-top: 29px;
        .header__procedures__contentbox{
            height: 105px;
            padding: 36px 38px;
        }
        .header__procedures__text{
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0.5px;
        }
        .header__procedures__sale{
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: right;
            text-decoration-line: line-through;
            color: $gold;
            margin-right: 16px;
        }
        .header__procedures__price{
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 140%;
            text-align: right;
            color: $secondaryRed;
        }
    }
    .btn__header-page2{
        height: 44px;
    }
}


//
//
//Что входит в акцию
//
//
.similar {
    margin-top: $marginTop;

    &__procedures {
        
        &__contentbox {
            // padding: 0;
            &-middle {
                margin-left: 36px;
            }
            img{
                height: 257px;
                margin-left: -30px;
            }
        }
        &__text{
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;

        }
    }
}
.similar__procedures__price-sale{
    font-family: 'Oranienbaum';
font-weight: 400;
font-size: $fs16;
text-decoration-line: line-through;
color: #AE8452;
}

//
//
//SKILLS
//
//

.skills__page4{
    margin-top: $marginTop;
    .skills__page4__content-top__title{
        font-family: 'Oranienbaum';
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 67px;
    }
    &__title{
        font-size: $fs42;
        font-family: 'Oranienbaum';
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }
    padding: 0 10px;
    &__content-top{
        
        padding-top: 10px;
        &__title{
                        font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 100%;
            font-size: $fs42;
        }
        &__list{
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            
        }
        &__item{
            display: flex;
            align-items: center;
            max-width: 600px;
            &::before{
                content: url('../img/tere.svg');
                color: $secondaryRed;
                margin-right: 10px;
                margin-bottom: 10px;
            }
           p{
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 140%;
           }
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: $marginTop;
    }
    &__right{
        padding: 49px 40px;
        .skills__page4__title{
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 100%;
            max-width: 305px;
            padding-left: 31px;
        }
        text-align: center;
        max-width: 421px;
        height: 387px;
        border:1px solid $gold;
        border-radius: 4px;
        &-list{
            margin-top: 50px;

        }
        &-item{
            margin-top: 12px;
        }
        &-text{
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 120%;
        }
    }
    .header__skills__item:last-child{
        padding-bottom: 10px;
    }
    .header__skills__item{
        font-size: 19px;
        margin-top: 16px;
        display: flex;
        align-items: center;
        &::before{
            content: url('../img/tere.svg');
            color: $secondaryRed;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}
.header__skills__stock{
    margin: 0 28px 0 0;
    border: 1px solid $gold;
    border-radius: 4px;
    padding: 34px 20px 34px 32px;
    height: 387px;
    .header__skills__item{
        margin-right: 10px;
        max-width: 360px;
    }
   
}
.brochure__stock-page{
    margin-top: $marginTop;
    padding-top: 60px;
}
.specialist-page__questions__brochure-steps{
.questions__brochure-step{
    width: 367px;
}
.questions__brochure-text{
    max-width: 290px;
}
.questions__brochure-subtext{
    max-width: 315px;
    margin-right: 0px;
}
}
.questions__brochure__stock-page{
    justify-content: space-around;
    
}

@media (max-width: 640px) {
   
    
    .header__stock-page{
        
        margin-top: $marginTitleTablet;
        .title{
            font-size: $fs36;
        }
        .subtitle{
            font-size: 14px;
            line-height: 140%;
            width: 100%;
        }
        &__contentbox{
            flex-direction: column;
        }
        &__right{
            margin-top: 40px;
            padding: 10px 20px;
            max-width: 300px;
            max-height: 210px;
            &-sale{
                font-size: $fs18;
            }
            &_price{
                font-size: $fs18;
            }
            &-text{
                font-size: 36px;
                margin-bottom: 10px;
            }
        }
        &__list{
            margin: 40px 0 0 0;
        }
        &__link{
            font-size: $fs14;
            padding: 4px 8px;
        }
        &__bot{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 0px;
        }
        &__content{
            height: 100px;
            font-size: $fs14;
            padding: 10px 20px;
            margin-right: 0px;
            width: 277px;
            margin-top: 20px;
            img{
                width: 40px;
                height: 40px;
            }
        }
        &__link{
            padding: 3px 4px;
            margin-right: 8px;
            font-size: $fs12;
        }
        .header__procedures {
            margin-top: 18px;

            &__contentbox {
                div{
                    display: flex;
                    align-items: center; 
                    flex-direction: column;
                    justify-content: center;
                }
                width: 97%;
                padding: 10px 10px;
            }

            &__text {
                font-size: $fs22;
                line-height: 140%;
                margin-right: 0;
            }

            &__sale {
                font-size: $fs14;
                line-height: 140%;
                margin-right: 0;

            }

            &__price {
                font-size: $fs22;
                line-height: 140%;
                margin-right: 0;
            }
        }
    }
    .similar{
        margin-top: 100px;
        flex-wrap: wrap;
        .similar__procedures__contentbox-right{
            grid-template-columns: repeat(1,1fr);
        }
        .similar__procedures__contentbox{
            flex-direction: column;
            max-height: 455px;
            padding: 16px 5px;
           
            img{
                width: 150px;
                height: 150px;
            }
            &-right{
                // flex-direction: row;
                margin-top: 20px;
                margin-left: 17px;
               &-btn{
                margin-top: 10px;
               }
               
            }
            &-middle{
                margin-left: 0;
                width: 100%;
            }
            .similar__procedures__text{
                font-size: $fs18;
                font-weight: 700;

            }
          
            .similar__procedures__price{
                font-size: $fs22;

            }
            .similar__procedures__btn,
            .similar__procedures__sale{
                margin: 0 10px;
                
                padding: 10px 5px;
            }
            
            .similar__procedures__price{
            }
        }
       
    }
    //
    //
    //skills page4
    //
    //
.skills__page4{
    &__right{
        padding: 20px 20px;
        height: 285px;
    }
    .skills__page4__content-top {
        margin-top: 0;
        &__list{
            gap: 5px;
        }
            &__title {
                font-size: $fs36;
                line-height: 140%;
            }
            &__item{
                p{
                    font-size: $fs16;
                    line-height: 140%;
                    margin-top: 10px;
                }
                &::before{
                    margin-top: 10px;
                }
            }
        }
    
    &__wrapper{
        .title{
            font-size: $fs36;
            line-height: 140%;
        }
        .header__skills__item{
            font-size: $fs16;
            line-height: 140%;
            margin-top: 5px;
            
        }
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .header__skills__stock{
            margin-right: 0;
            max-width: 100%;
            
        }
        .skills__page4__right{
            max-width: 100%;
            margin-top: 20px;
            &-list{
                max-width: 100%;
            }
        }
      

        
    }
}
    //
    //
    //offer
    //
    //
.offer{
    .offer > .title__wrapper > p.specialist__subtitle.subtitle{
        margin-left: 0;
    }
   
    
    .services__content-watch-tablet{
        text-align: right;
        display: flex;
        align-items: center;
        a {
            margin-right: 15px;
            font-family: 'Fira Sans';
            font-size: $fs16;
            text-align: right;
            text-decoration-line: underline;
            color: $secondaryRed;
        }
    }
    .services__content-watch{
        display: none;
    }

}
.specialist__subtitle .subtitle{
    margin-left: 0;
}
    //
    //
    //
    //
    //
}
@media (max-width: 320px) {
    .header__stock-page{
        margin-top: $marginTitlePhone;
        &__right{
            margin-top: 40px;
            padding: 10px 20px;
            max-width: 288px;
            max-height: 190px;
          &-sale{
            font-size: $fs18;
            }  
            &-text{
                font-size: $fs36;
            }
        }
        &__list{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        &__link{
            font-size: 7px;
        }
        &__bot{
            grid-template-columns: repeat(1,1fr);
        }
        &__content{
            p{
                font-size: $fs14;
                line-height: 140%;
            }
            padding: 10px;
            height: 82px;
        }
        .btn__header-page2{
            margin-top: 10px;
        }
        &__procedures{
            margin-top: 20px;
        }
        .header__stock-page__procedures{
            .header__procedures__contentbox{
                height: 190px;
            }
            .header__procedures__text{
                font-size: $fs20;
            }
        }
    }
    .similar{
        margin-top: 100px;
    }
    .skills__page4{
        .skills__page4__content-top__item p{
            font-size: $fs14;
            line-height: 140%;
        }
        .skills__page4__content-top__title{
            font-size: $fs30;
            line-height: 140%;
        }
        &__content-top{
            margin-top: 100px;
            
            &__list{
                grid-template-columns: repeat(1,1fr);
            }
            &__item{
                
               margin-top: 0px;
               &::before{
                margin-top: 5px;
               }
            }
        }
        .header__skills{
            &__list{
                gap: 0;
            }
            &__stock{
                padding: 10px;
                height: 480px;
            }
            &__item{
                font-size: $fs14;
                margin-right: 0;
                margin-top: 10px;
            }
            &__list{
                grid-template-columns: repeat(1,1fr);
            }
            &__stock &__item {
                margin-right: 0;
               
            }
        }
        .header__stock-page__title {
            font-size: $fs30;
        }
        .skills__page4__title{
            font-size: $fs30;
            line-height: 140%;
        }
        .skills__page4__right {
            padding: 10px;
            &-title{
                font-size: $fs30;
            }
            &-list{
                margin-top: 30px;
            }
            &-text{
                font-size: $fs14;
                line-height: 140%;
            }
            
        }
    }
    //
    //
    //similar
    //
    //
    //
    .similar{
        margin-top: 100px;
        flex-wrap: wrap;
       
        .similar__procedures__contentbox{
            flex-direction: column;
            max-height: 400px;
            padding: 16px;
           
            img{
                width: 100px;
                height: 100px;
            }
            &-right{
                
                margin-top: 20px;
                margin-left: 0px;
               &-btn{
                margin-top: 10px;
               }
               
            }
            .similar__procedures__text{
                font-size: $fs18;
                font-weight: 700;

            }
            .similar__procedures__btn{
                margin-bottom: 10px;
            }
            .similar__procedures__sale{
                margin-left: 10px;
            }
            
            .similar__procedures__price{
                margin: 0px;
            }
        }
       
    }
    //
    //brochure
    //
    //
    //
    .brochure__stock-page{
        margin-top: 80px;
            .questions__brochure-btn{
                width: 96%;
            }
            .questions__brochure-subtext{
                line-height: 140%;
            }
    }
    //specialist
    //
    //
    .specialist{
        margin-top: 100px;
        .undertitle{
            font-size: $fs10;
        }
    }
     //
    //
    //offer
    //
    //
     //
    //
    //offer
    //
    //
    .offer{
        margin-top: 100px;
        .undertitle{
            font-size: $fs10;
        }
        &__card{
            height: 356px;
            &__subtitle{
                font-size: $fs14;
            }
            &__text{
                margin-top: 8.8em;
            }
        }
        
    }
}