.header__stock-page{
    margin-top: $marginTitle;
    &__title{
        font-size: 64px;
    }
    &__subtitle{
        max-width: 758px;
        font-size: $fs20;
        margin-top: 10px;
    }
    &__contentbox{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        max-width: 843px;
    }
    &__right{
        width: 309px;
        height: 280px;
        border: 1px solid $gold;
        border-radius: 4px;
        text-align: center;
        padding: 70px 30px;
        &-sale{
            text-align: right;
            text-decoration:line-through;
            color: $gold;

        }
        &-text{
            font-family: 'Oranienbaum';
            font-weight: 400;
            font-size: 64px;
            line-height: 74px;
            text-align: center;
            letter-spacing: 0.1em;
            color: $secondaryRed;
            margin-bottom: 40px;
        }
        &-btn{
            padding: 0px 30px;
            width: 220px;
            height: 44px;
            background: $secondaryRed;
            border: none;
            border-radius: 4px;
            font-family: 'Fira Sans';
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $bg;
    &:hover{
        background-color: $btnHover;
        transition: all 0.4s ease-in;
    }
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 180px 190px 0px 180px;
        
    }
    &__link{
        border: 1px solid $secondaryRed;
        border-radius: 25px;
        padding: 10px 20px;
        color: $secondaryRed;
    }
    &__bot{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        display: flex;
        align-items: center;
        background-color: $primary;
        max-width: 309px;
        max-height: 116px;
        color: $bg;
        border-radius: 4px;
        padding: 20px 40px;
        img{
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }
        p{
            font-size: $fs16;
            line-height: 140%;
        }
    }
    &__procedures{
        margin-top: 40px;
    }
}


//
//
//Что входит в акцию
//
//

.similar__procedures__price-sale{
    font-family: 'Oranienbaum';
font-weight: 400;
font-size: $fs16;
text-decoration-line: line-through;
color: #AE8452;
}

//
//
//SKILLS
//
//

.skills__page4{
    &__title{
        font-size: $fs42;
    }
    padding: 0 10px;
    &__content-top{
        margin-top: 165px;
        padding-top: 10px;
        &__title{
            font-size: $fs42;
        }
        &__list{
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            
        }
        &__item{
            display: flex;
            max-width: 600px;
            &::before{
                content: '-';
                color: $secondaryRed;
                margin-right: 10px;
            }
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 165px;
    }
    &__right{
        padding: 50px 40px;
        &-title{
            font-size: 50px;
            line-height: 80%;
        }
        text-align: center;
        max-width: 421px;
        border:1px solid $gold;
        &-list{
            margin-top: 40px;
            max-width: 280px;

        }
        &-item{
            margin-top: 10px;
        }
        &-text{

            font-size: $fs16;
            line-height: 120%;
        }
    }
    .header__skills__item:last-child{
        padding-bottom: 10px;
    }
}
.header__skills__stock{
    margin: 0 28px 0 0;
    border: 1px solid $gold;
    padding: 32px 34px;
    .header__skills__item{
        margin-right: 10px;
        max-width: 360px;
    }
   
}
.questions__brochure__stock-page{
    justify-content: space-around;
}

@media (max-width: 640px) {
    .header__stock-page{
        padding: 0 5px;
        margin-top: $tabletMargin;
        &__contentbox{
            flex-direction: column;
        }
        &__right{
            margin-top: 40px;
            padding: 10px 20px;
            max-width: 300px;
            max-height: 210px;
            &_price{
                font-size: $fs18;
            }
            &-text{
                font-size: 48px;
                margin-bottom: 10px;
            }
        }
        &__list{
            margin: 40px 0 0 0;
        }
        &__link{
            font-size: $fs14;
            padding: 4px 8px;
        }
        &__bot{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
        &__content{
            height: 100px;
            font-size: $fs14;
            padding: 10px 20px;
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
    .similar{
        margin-top: 100px;
        flex-wrap: wrap;
        .similar__procedures__contentbox{
            flex-direction: column;
            max-height: 400px;
            padding: 16px;
           
            img{
                width: 150px;
                height: 150px;
            }
            &-right{
                // flex-direction: row;
                margin-top: 20px;
                margin-left: 17px;
               &-btn{
                margin-top: 10px;
               }
               
            }
            .similar__procedures__text{
                font-size: $fs18;
                font-weight: 700;

            }
            .similar__procedures__btn,
            .similar__procedures__sale{
                margin: 0 10px;
                
                padding: 10px 5px;
            }
            
            .similar__procedures__price{
            }
        }
       
    }
    //
    //
    //skills page4
    //
    //
.skills__page4{
    &__wrapper{
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .header__skills__stock{
            margin-right: 0;
            max-width: 100%;
        }
        .skills__page4__right{
            max-width: 100%;
            margin-top: 20px;
            &-list{
                max-width: 100%;
            }
        }
      

        
    }
}
    //
    //
    //
    //
    //

    //
    //
    //
    //
    //
}
@media (max-width: 320px) {
    .header__stock-page{
        &__right{
            margin-top: 40px;
            padding: 10px 20px;
            max-width: 288px;
            max-height: 190px;
          &-sale{
            font-size: $fs18;
            }  
            &-text{
                font-size: $fs36;
            }
        }
        &__list{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        &__link{
            font-size: $fs8;
        }
        &__bot{
            grid-template-columns: repeat(1,1fr);
        }
        &__content{
            padding: 10px;
            height: 82px;
        }
        .btn__header-page2{
            margin-top: 10px;
        }
    }
    .similar{
        margin-top: 100px;
    }
    .skills__page4{
        &__content-top{
            margin-top: 100px;
            &__title{
                font-size: $fs30;
            }
            &__list{
                grid-template-columns: repeat(1,1fr);
            }
            &__item{
                font-size: $fs16;
                line-height: 140%;
            }
        }
        .header__skills{
            &__list{
                gap: 0;
            }
            &__stock{
                padding: 10px;
            }
            &__item{
                font-size: $fs16;
                margin-right: 0;
            }
            &__list{
                grid-template-columns: repeat(1,1fr);
            }
            &__stock &__item {
                margin-right: 0;
               
            }
        }
        .header__stock-page__title {
            font-size: $fs32;
        }
        .skills__page4__right {
            padding: 10px;
            &-title{
                font-size: $fs32;
            }
            
        }
    }
    //
    //
    //similar
    //
    //
    //
    .similar{
        margin-top: 100px;
        flex-wrap: wrap;
        .similar__procedures__contentbox{
            flex-direction: column;
            max-height: 400px;
            padding: 16px;
           
            img{
                width: 100px;
                height: 100px;
            }
            &-right{
                // flex-direction: row;
                margin-top: 20px;
                margin-left: 17px;
               &-btn{
                margin-top: 10px;
               }
               
            }
            .similar__procedures__text{
                font-size: $fs18;
                font-weight: 700;

            }
            .similar__procedures__btn,
            .similar__procedures__sale{
                margin: 5px;
                
                
            }
            
            .similar__procedures__price{
                margin: 2px;
            }
        }
       
    }
    //
    //brochure
    //
    //
    //
    .brochure__stock-page{
            .questions__brochure-btn{
                width: 96%;
            }
            .questions__brochure-subtext{
                line-height: 140%;
            }
    }
    //specialist
    //
    //
    .specialist{
        margin-top: 100px;
        .undertitle{
            font-size: $fs10;
        }
    }
     //
    //
    //offer
    //
    //
     //
    //
    //offer
    //
    //
    .offer{
        margin-top: 100px;
        .undertitle{
            font-size: $fs10;
        }
        &__card{
            height: 313px;
            &__subtitle{
                font-size: $fs14;
            }
            &__text{
                margin-top: 8.8em;
            }
        }
        
    }
}