@import './variable';
@import './main_page';
@import './services-page.scss';
@import './specialist-page';
@import './stock-page';
@import './about-page';
@import './contacts-page.scss';
@import './our_services.scss';
@import './services_chapter.scss';
@import './specialist_chapter.scss';
@import './articles-page.scss';
@import './share_archive-page.scss';
@import './blog_archive-page.scss';


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    cursor: pointer;
}


body{
font-family: 'Fira Sans', 'Oranienbaum', serif;
color: $primary;
font-style: normal;
font-weight: 300;
font-size: $fs20;
line-height: 140%;
background-color: $bg;
margin: 0 10px;
}
header{
    padding-top: 20px;
    z-index: 10;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

h1{
font-family: Oranienbaum;
font-size: 64px;
font-weight: 400;
line-height: 74px;
letter-spacing: 0.1em;
text-align: left;

}
h2{
    font-size: 58px;
    line-height: 66px;
    font-weight: 400;
    
}
.title__span{
    color: $secondaryRed;
}

.title__container{
    width: 720px;
}
.undertitle{
    font-family: 'Fira Sans';
font-size: 14px;
line-height: 140%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: $gold;
}

.subtitle{
    font-family: 'Fira Sans';
    font-size: 16px;
    line-height: 140%;
}

.specialist__sliders__swiper{
    width: 1320px;
    height: 507px;
    overflow: hidden;
    position: relative;
}

.title__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    margin: 50px 44% 0px;
    padding: 0px 30px;
    width: 220px;
    height: 44px;
    background: $secondaryRed;
    border: none;
    border-radius: 4px;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $bg;
}
.btn:hover{
    background-color: $btnHover;
    transition: all 0.4s ease-in;
}

//
//
//MENU_SERVICES
//
//
.menu__services{
    width: 309px;
    max-height: 300px;
    margin-right: 20px;
    border-radius: 4px;
    padding: 14px;
    color: $bg;
    background-color: $primary;
    
    &__item{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $bg;
        margin-top: 14px;
    }
    
}
