$primary: #093A67;
$secondary: #EBD1B2;
$secondaryRed: #972A29;
$btnHover: #5B1919;
$listHover: #072846;
$colorBtn: #FFF9EF;
$bgFooter: #083054;
$white: #fff;
$bg: #FFF9EF;
$gold: #AE8452;
$fs8: 8px;
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs30: 30px;
$fs32: 32px;
$fs36: 36px;
$fs42: 42px;
$marginTop: 140px;
$tabletMargin: 200px;
$phoneMargin: 100px;


.hidden{
    visibility: hidden;
}

